-- CreateEnum
CREATE TYPE "FolderSelectionStatus" AS ENUM ('SELECTING', 'COMPLETED');

-- AlterTable
ALTER TABLE "Folder" ADD COLUMN     "selectionStatus" "FolderSelectionStatus" NOT NULL DEFAULT 'SELECTING';

